assets
backup
crash-reports
libraries
logs
resourcepacks
runtime
saves
scripts
server-resource-packs
shaderpacks
tlauncher_libraries
versions
launcher_profiles.json
options.txt
optionsof.txt
servers.dat
TempOptifineStore-1.0.json
TLauncher.exe
TlauncherProfiles.json
usercache.json
usernamecache.json
worlds.json
.idea
screenshots
